Repository MBanucu/youtube-video: changes, and which lefthook commands are due for each by the changed paths.
All: biome, knip

lefthook.yml:

colors: true

pre-commit:
  parallel: true
  commands:
    biome:
      glob: "*.{ts,tsx,js,cjs,mjs,json}"
      run: biome check --write --staged {staged_files}
      stage_fixed: true
    types:
      run: bun tsc --noEmit
    knip:
      glob: "*.{ts,tsx}"
      run: bun run knip
    fast-tests:
      run: bun test test/extract-wav.test.ts test/concat-mts.test.ts test/split_video_precise.test.ts test/split_video_precise_check.test.ts test/batchUploadToYoutube.test.ts

pre-push:
  parallel: true
  commands:
    full-lint:
      run: bun run check
    full-types:
      run: bun tsc --noEmit
    knip:
      run: bun run knip

commit-msg:
  commands:
    lint-commit:
      run: bunx commitlint --edit {1}

feat: add configurable loglevel to ffmpeg commands
  src/batchUploadToYoutube.ts
  src/concat-mts.ts
  src/extract-wav.ts
  src/split_video_precise.ts
Due: biome, knip

feat: refactor batch upload to configurable function and fix test race condition
  src/batchUploadToYoutube.ts
  test/batchUploadToYoutube.test.ts
Due: biome, knip

fix: resolve CI failures in YouTube upload feature
  knip.jsonc
  test/batchUploadToYoutube.test.ts
Due: biome, knip

fix: specify google-auth-library version ^9.0.0
  package.json
Due: biome

fix: add google-auth-library to package.json to fix knip unlisted dependency
  knip.jsonc
  package.json
Due: biome

fix: resolve CI failures and improve YouTube upload functionality
  bun.lock
  commitlint.config.js
  knip.jsonc
  lefthook.yml
  package.json
  src/batchUploadToYoutube.ts
  test/batchUploadToYoutube.test.ts
Due: biome, knip

fix: apply biome auto-fixes for batch upload code
  src/batchUploadToYoutube.ts
Due: biome, knip

fix: add google-auth-library dependency and fix test mocking
  knip.jsonc
  package.json
  test/batchUploadToYoutube.test.ts
Due: biome, knip

fix: use knip ignoreUnlisted for google-auth-library
  knip.jsonc
  package.json
Due: biome

Add YouTube batch upload automation
  .gitignore
  README.md
  bun.lock
  gather_workspace_information.sh
  package.json
  src/batchUploadToYoutube.ts
  test/batchUploadToYoutube.test.ts
Due: biome, knip

fix: resolve linting warnings and improve type safety
  biome.json
  src/batchUploadToYoutube.ts
Due: biome, knip

fix: drain streams in YouTube mock to prevent race condition
  test/batchUploadToYoutube.test.ts
Due: biome, knip

fix: resolve TypeScript error in mock type
  test/batchUploadToYoutube.test.ts
Due: biome, knip

fix: remove unused commitlint config from knip ignore
  knip.jsonc
Due: none

fix: suppress biome any warning in test mock
  test/batchUploadToYoutube.test.ts
Due: biome, knip

fix: apply biome fixes to use node: protocol
  src/batchUploadToYoutube.ts
Due: biome, knip

refactor: remove unnecessary mocks and clean up test
  test/batchUploadToYoutube.test.ts
Due: biome, knip

perf: conditionally skip runTranscribe test on local machines
  test/runTranscribe.test.ts
Due: biome, knip

style: suppress biome warning for process.env access
  test/runTranscribe.test.ts
Due: biome, knip

refactor: extract runTranscribe test function
  test/runTranscribe.test.ts
Due: biome, knip

feat: make TOKEN_PATH, CATEGORY_ID, and PRIVACY_STATUS configurable
  src/batchUploadToYoutube.ts
  test/batchUploadToYoutube.test.ts
Due: biome, knip

docs: improve AGENTS.md with Bun-specific patterns and testing guidelines
  AGENTS.md
Due: none

refactor: use runHeavyTest pattern for conditional test execution
  test/runTranscribe.test.ts
Due: biome, knip

refactor: apply runHeavyTest pattern to batchTranscribe test
  test/batchTranscribe.test.ts
Due: biome, knip

refactor: create test utils module with runHeavyTest helper
  test/batchTranscribe.test.ts
  test/runTranscribe.test.ts
  test/utils.ts
Due: biome, knip

ci: add bun test to pre-push hook
  lefthook.yml
Due: none

docs: update AGENTS.md with latest patterns and features
  AGENTS.md
Due: none

refactor: convert batchUploadToYoutube to YouTubeBatchUploader class
  src/batchUploadToYoutube.ts
Due: biome, knip

fix: suppress biome non-null assertion warning
  src/batchUploadToYoutube.ts
Due: biome, knip

fix: correct biome ignore placement for non-null assertion
  src/batchUploadToYoutube.ts
Due: biome, knip

refactor: move auth functions and uploadVideo into YouTubeBatchUploader class
  src/batchUploadToYoutube.ts
Due: biome, knip

refactor: extract types to separate module
  src/batchUploadToYoutube.ts
  src/types.ts
Due: biome, knip
